table {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    }
    
    th, td {
    text-align: left;
    padding: 8px;
    border-top: 1px solid lightgray;
    }
    
    tr:nth-child(even) {background-color: #f2f2f2;}